
.background {
  background-color: #F7FFF7;
}

.profilePictureDetail {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.profilePicture {
  width:50px;
  height: 50px;
  border-radius: 50%;
}

.profileListItem{
  background-color: white;
  border: solid 2px;
  width:100%;
}

.title {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 24px
}

.header-background {
  background-color: #6CA6C1;
}

.hidden {
  visibility: hidden;
}
