.background {
  background-color: #F7FFF7;
}

.profilePictureDetail {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

body {
  width: 375px;
  height: 667px;
}

*{
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 32px;
}

.mainMenu{
  width: 375px;
  height: 667px;
  background-image: url('images/BackgroundV2.png');
}

.navBar{
  position: absolute;
  padding: 1.75rem 0rem 0rem 1.75rem;
  width: 375px;
  height: 85px;
  font-size: 24px;
  left: 0px;
  top: 0px;
  background-color: #6CA6C1;
}

.heading{
  margin: 4rem;
}

.navMenu{
  position: absolute;
  top: 85px;
  left: 0px;
  width: 375px;
  height: 582px;
}

p{
  position: relative;
  top:-55px;
  left:125px;
}

.petProfiles, .todoList, .addAPet, .alertMe{
  width: 346px;
  height: 83px;
  font-size: 22px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.blueSquare{
  position: relative;
  padding: 1.25rem;
  top: 0px;
  left: 0px;
  width: 83.13px;
  height: 83.13px;
  background: #6CA6C1;
  border-radius: 20px;
}

.blueSquare2{
  padding-left: 1.5rem;
}

.homepage {
  width: 375px;
  height: 667px;
  background-image: url('images/Background.png');
}

.logo {
  position: absolute;
  left: 76px;
  top: 110px;
}

.logoImage{
  width: 223px;
  height: 232px;
}

.homepageNav {
  position: absolute;
  left: 76px;
  top: 377px;
}

.petOwner,
.petSitter {
  font-size: 24px;
  color: #343434;
  width: 180px;
  height: 48px;
  background: #6CA6C1;
  border: none;
  border-radius: 50px;
  margin: 1rem;
  cursor: pointer;
}

.petOwner:focus, .petSitter:focus{
  outline: none;
}

.profilePicture{
  width:50px;
  height: 50px;
  border-radius: 50%;
}

.profileListItem{
  background-color: white;
  border: solid 2px;
  width:100%;
}

.title {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 24px
}

.header-background {
  background-color: #6CA6C1;
}

.hidden {
  visibility: hidden;
}
